<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorSample</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Simple computed
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Async computed
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Component parameters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dots">
                <span class="bi bi-cloud-fill-nav-menu" aria-hidden="true"></span> Exclusive components
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collections">
                <span class="bi bi-cloud-fill-nav-menu" aria-hidden="true"></span> Reactive collections
            </NavLink>
        </div>
    </nav>
</div>