@page "/counter"
@using PropReact.Props.Value
@inherits PropReact.Blazor.ReactiveComponent

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>
    An example of passing props to a child component as Blazor parameters while allowing mutations
    and computing other values by combining parent and child props.
</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increment line count</button>

<input type="text" @bind="Bind(_text).Value" @bind:event="oninput"/>

<p>Render count: @_renderCount</p>

@for (int i = 0; i < Watch(_count); i++)
{
    <CounterLine Count="_count" Index="i" Text="_text"/>
}

@code {
    private readonly Mutable<int> _count = 0;
    private readonly Mutable<string> _text = " numbers";

    private void IncrementCount()
    {
        _count.Value++;
    }

    int _renderCount = 0;
    protected override void OnAfterRenderInternal(bool firstRender) => _renderCount++;
}