@page "/"
@inherits PropReact.Blazor.ReactiveComponent
@using PropReact.Props.Value
@using PropReact.Chain
@using PropReact

@code {

    readonly Mutable<string> _name = "username";
    readonly Mutable<int> _unreadMessages = 0;
    readonly Computed<string> _greeting = "";

    readonly CompositeDisposable _disposables = new();

    protected override void OnInitialized()
    {
        Chain.From(this)
            .Branch(
                x => x.ChainValue(y => y._name),
                x => x.ChainValue(y => y._unreadMessages)
            )
            .Immediate()
            .Compute(() => $"Hello, {_name.v}! You have {_unreadMessages.v} unread messages.", _greeting)
            .React(() => InvokeAsync(StateHasChanged))
            .Start(_disposables);
    }


    int _renderCount = 0;
    protected override void OnAfterRenderInternal(bool firstRender)
    {
        _renderCount++;
        Console.WriteLine($"Render: {_renderCount}");
    }
}

<h1 style="font-size: 20px;">@_greeting.v</h1>

<div>
    <input type="text" @bind="Bind(_name).v" @bind:event="oninput"/>
    <input type="number" @bind="Bind(_unreadMessages).v" @bind:event="oninput"/>

    <button @onclick="() => _unreadMessages.v = 0">Mark as read</button>
</div>